@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/utilities/sprites";

// set up variables
$width: 300px;
$height: 250px;

// Uncomment to include sprites in your banner
// $sprites: sprite-map("sprites/*.png");

// to use sprites, place the image in the sprites folder and set the background for the desired element as follows:
// .element { background: sprite($sprites, image-name); }

// set all elements to be box-sizing: border box to include any border, padding and content, but not margin.
*, :before, :after {
	@include box-sizing(border-box);
}

// 100% width and height elements that can be positioned easily absolutely
.abs-pos {
	position: absolute;
	top: 0px;
	left: 0px;
	width: $width;
	height: $height; 
	overflow: hidden;
}

#bg {
	@extend .abs-pos;
	//background-color:#ffffff;
	 background-color:#534588;
}

#bg-img {
	position: relative;
	left:0;
	top:0;
	width:600px;
	height:500px;
	background-image: url(../img/bg.jpg);
}

#bg-color {
	@extend .abs-pos;
	background-color:#ffffff;
}
#copy-rel{
	@extend .abs-pos;
	position: relative;
}

#drawer {
	@extend .abs-pos;
	background-color:#ffffff;
}

#wrapper {
	@extend .abs-pos;
	position: relative;	
	visibility: hidden; 

	&.show {
		visibility: visible;
	}
}

#click_through {
	@extend .abs-pos;
	z-index: 999;
	cursor: pointer;
	background-color: rgba(255,255,255,0);
	border: 1px solid #000000;
}

#logo {
	@extend .abs-pos;
	//left:-64px;
}


#copy-1 {
	@extend .abs-pos;
}
#copy-2 {
	@extend .abs-pos;
}
#copy-2b {
	@extend .abs-pos;
}


#copy-3 {
	@extend .abs-pos;
}

#copy-4 {
	@extend .abs-pos;
}


#cta {
	@extend .abs-pos;
}

#code {
	@extend .abs-pos;
}	


#ball {
	@extend .abs-pos;
}


#light {
	@extend .abs-pos;
}

#lights {
	@extend .abs-pos;
}

#light1 {
	

}


#light2 {
	

}

// #shimmer {
// 	top: 0px;
// 	left:0px;
// 	position: absolute;
// 	width: 100px;
// 	height: 60px;
// 	display: inline-block;	
// }

// #shimmer-holder{
// position: absolute;
// overflow: hidden;
// width:65px;
// height: 25px;
// 	top: 328px;
// 	left:120px;
// 	background:#ffffff;
// }

#calc {
	@extend .abs-pos;
}

